
# cTrader Open API Credentials Example
# Rename this file to secrets.py and fill in your actual credentials

CTRADER_ENV = "DEMO" # or "LIVE"
CTRADER_CLIENT_ID = "YOUR_CLIENT_ID"
CTRADER_SECRET = "YOUR_SECRET"
CTRADER_ACCESS_TOKEN = "YOUR_ACCESS_TOKEN"
CTRADER_ACCOUNT_ID = "YOUR_ACCOUNT_ID"
CTRADER_USER_ID = "YOUR_USER_ID"
CTRADER_REFRESH_TOKEN = "YOUR_REFRESH_TOKEN"
